<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <footer>
        <p>
            Fröbutiken 2021&trade;
        </p>

    </footer>
    @RenderSection("scripts", false)
</body>
</html>
