@model ShopVM[]

<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id>
                    <div class="card text-center">
                        <img src="~/Images/@item.ThumbnailUrl" width="100%;" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Name </h5>
                            <p class="card-text">@item.SubCategory</p>
                            <a href="#" onclick="AddToCart(@item.Id)" class="btn btn-success">Lägg till i varukorg 🛒</a>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>