@model MyPagesVM
@{ViewBag.Title = "Mina sidor";}

<div style="padding-left:30px">

    <p>Inloggad som @Model.Username</p>
    @foreach (var item in Model.Orders)
    {
<p>
    Beställningstid - @item.Date<br />
    OrderID: <a asp-controller="Members" asp-action="MyOrder" asp-route-id=@item.Id> <strong> @item.Id </strong>  </a>
    @*OrderID: <a asp-controller="Members" asp-action="MyOrder" > <strong> @item.Id </strong>  </a>*@
    @*<a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id>

*@</p>

        @*detta måste givetvis fixas, mest för att se så allt funkar. diskutera vad som ska visas?
            bilder eller produktnamn och pris direkt här eller klickbar länk?
            bör pris på varukorgen kanske sparas som en prop?
            ändras priset efter ordern är lagd kommer priset bli ett annat..? *@

    }
    <a asp-action="Logout"><button id="btn"> Logga ut</button></a>
</div>
