@model MemberRegisterVM
<h3>Registrera ny medlem</h3>
<form asp-controller="Members" asp-action="Register">
    <input asp-for="Email" />
    <label asp-for="Email">Email</label>
    <span asp-validation-for="Email"></span>
    <br />

    <input asp-for="Password" />
    <label asp-for="Password">Lösenord</label>
    <span asp-validation-for="Password"></span>
    <br />

    <input asp-for="PasswordRepeat" />
    <label asp-for="PasswordRepeat">Repetera lösenord</label>
    <span asp-validation-for="PasswordRepeat"></span>
    <br />

    <input asp-for="FirstName" />
    <label asp-for="FirstName">Förnamn</label>
    <span asp-validation-for="FirstName"></span>
    <br />

    <input asp-for="LastName" />
    <label asp-for="LastName">Efternamn</label>
    <span asp-validation-for="LastName"></span>
    <br />

    <input asp-for="Street" />
    <label asp-for="Street">Adress</label>
    <span asp-validation-for="Street"></span>
    <br />

    <input asp-for="Zip" />
    <label asp-for="Zip">Postnummer</label>
    <span asp-validation-for="Zip"></span>
    <br />

    <input asp-for="City" />
    <label asp-for="City">Ort</label>
    <span asp-validation-for="City"></span>
    <br />
    <input type="submit" value="Register" />
</form>
<div asp-validation-summary="All"></div>