@model MemberRegisterVM



    <div class="wrapper";">
        <div class="inner">
            <form asp-controller="Members" asp-action="Register">
                <h3>Registrera medlem</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label asp-for="FirstName">Förnamn</label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-wrapper">
                        <label asp-for="LastName">Efternamn</label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label asp-for="Email">Epost</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-wrapper">
                    <label asp-for="Password">Lösenord</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-wrapper">
                    <label asp-for="PasswordRepeat">Repetera Lösenord</label>
                    <input asp-for="PasswordRepeat" class="form-control">
                    <span asp-validation-for="PasswordRepeat"></span>
                </div>
                <div class="form-wrapper">
                    <label asp-for="Street">Adress</label>
                    <input asp-for="Street" class="form-control">
                    <span asp-validation-for="Street"></span>
                </div>
                <div class="form-wrapper">
                    <label asp-for="City">Ort</label>
                    <br />
                    <input asp-for="City" class="form-control">
                    <span asp-validation-for="City"></span>
                </div>
                <div class="form-wrapper">
                    <label asp-for="Zip">Postnummer</label>
                    <input asp-for="Zip" class="form-control">
                    <span asp-validation-for="Zip"></span>
                </div>
                <br />
                <input type="submit" value="Register" />
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
