@model MemberRegisterVM

<div class="wrapper">
    <div class="inner">
        <form asp-controller="Members" asp-action="Register">
            <h2>Registrera medlem</h2>
            <em><div asp-validation-summary="All"></div></em>

            <div class="form-group">
                <div class="form-wrapper">
                    <label asp-for="FirstName">Förnamn:</label><span class="required">*</span><br />
                    <input asp-for="FirstName" class="control"><br />
                    <span class="required" asp-validation-for="FirstName"></span>
                </div>

                <div class="form-wrapper">
                    <label asp-for="LastName">Efternamn:</label><span class="required">*</span><br />
                    <input asp-for="LastName" class="control"><br />
                    <span class="required" asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="form-wrapper">
                <label asp-for="Email">E-post:</label><span class="required">*</span><br />
                <input asp-for="Email" class="control"><br />
                <span class="required" asp-validation-for="Email"></span>
            </div>

            <div class="form-wrapper">
                <label asp-for="Password">Lösenord:</label><span class="required">*</span><br />
                <input asp-for="Password" class="control"><br />
                <span class="required" asp-validation-for="Password"></span>
            </div>

            <div class="form-wrapper">
                <label asp-for="PasswordRepeat">Repetera Lösenord:</label><span class="required">*</span><br />
                <input asp-for="PasswordRepeat" class="control"><br />
                <span class="required" asp-validation-for="PasswordRepeat"></span>
            </div>

            <div class="form-wrapper">
                <label asp-for="Street">Adress:</label><br />
                <input asp-for="Street" class="control">
                <span asp-validation-for="Street"></span>
            </div>

            <div class="form-wrapper">
                <label asp-for="Zip">Postnummer:</label><br />
                <input asp-for="Zip" class="control">
                <span asp-validation-for="Zip"></span>
            </div>

            <div class="form-wrapper">
                <label asp-for="City">Ort:</label><br />
                <input asp-for="City" class="control">
                <span asp-validation-for="City"></span>
            </div>

            <br />
            <input id="btnSubmit" type="submit" value="Registrera" />
            <br />
            <br />
            <p><span class="required">*</span> = Obligatorisk</p>
        </form>
    </div>
</div>
