body {
    background-color: #FFFFFF;
}

nav {
    background-color: #b9d2b1ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*Footer*/
.page-footer {
    background-color: #b9d2b1ff;
    color: black;
    padding: 10px 0 10px;
    margin-top: 170px;
    position: fixed;
}

.footer-copyright {
    color: #666;
    padding: 10px 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transform: scale(1.05);
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*footer slut*/

#h1Index {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

td {
    padding: 5px;
}

/*Cards i Index*/
.rowIndex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardIndex {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

    .cardIndex:hover {
        border-color: black;
        border-style: solid;
    }

    .cardIndex:hover {
        transition: transform 0.4s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
        transform: scale(1.05);
        transform-origin: 50% 50%;
    }


/*Cards i Shop*/
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.card-group {
    text-align: center;
    min-height: 350px;
    margin-bottom: 50px;
}

.card-img-top {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: auto;
    background-color: #595a4aff;
    border: 1px transparent;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .btn:hover {
        background-color: #f29e4cff;
    }

.card:hover {
    border-color: black;
    border-style: solid;
}

.card:hover {
    transition: transform 0.4s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

/*Registrera användare-formuläret:*/
.wrapper { /*Hela formulär-sidan*/
    min-height: 90vh;
    display: flex;
    padding-top: 0px;
    padding-bottom: 70px;
}

.inner { /*Formuläret*/
    border-radius: 0px;
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
/*    border: solid 2px;
*/}

    .inner h2 { /*h2 rubriken*/
        text-align: left;
        padding: 10px;
    }

    .inner h3 { /*label texten*/
        font-size: 20px;
        margin-bottom: 32px;
        color: black;
        letter-spacing: 3px;
    }

form { /*Formulärets input rutor*/
    width: 50%;
    padding-left: 10px;
    border-radius: 0;
}

.form-group {
    display: flex;
}

    .form-group .form-wrapper {
        width: 55%;
    }

        .form-group .form-wrapper:first-child { /*För- och efternamn*/
            margin-right: 10px;
            max-width: 38%;
        }

.form-wrapper { /*Mellanrum mellan input rutorna*/
    margin-bottom: 15px;
}

    .form-wrapper label { /*Mellanrum mellan label och input*/
        margin-bottom: 2px;
        display: inline-block;
    }

.control { /*Input rutorna*/
    border: 1px solid black;
    display: inline-block;
    width: 90%;
    height: 35px;
    padding: 0 18px;
    border-radius: 6px;
}

.control:hover { /*Input rutorna*/
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.1);
}

#btnSubmit {
    width: 25%;
    height: 40px;
    color: white;
    background-color: #389823;
    border: none;
    border-radius: 10px;
}

    #btnSubmit:hover {
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.3);
        transition: 0.1s;
        opacity: 0.8;
    }

.required {
    color: red;
}

/*här slutar formstjafset och vänster navbar tar vid*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900);

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.side-menu {
    width: 220px;
    height: 100%;
    padding: 5px 0px;
    box-sizing: border-box;
    background: #b9d2b1ff;
    display: flex;
    flex-flow: column nowrap;
    /*box-shadow: 5px 20px 35px 1px rgba(17, 26, 41, 0.6);*/
    position: absolute;
    transition: .5s;
}

    .side-menu form {
        display: flex;
        margin: 10px 10px 0px;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 170px;
    }

        .side-menu form input,
        .side-menu form button {
            background-color: transparent;
            color: #fff;
            border: 1px transparent;
            padding: 5px 5px;
            width: 120px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

nav a {
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    nav a + a::before {
        content: '';
        position: absolute;
        border-top: 1px solid #fff;
        left: 10px;
        right: 10px;
        top: 0;
    }

    nav a .fas {
        margin-right: 0.5em;
        transform: scale(0);
        transition: .5s;
    }

    nav a:hover .fas {
        margin-right: 1.9em;
        transform: scale(1);
    }
/*här slutar vänster navbar*/
