body {
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: white;
    text-align: center;
}

.card:hover {
    border-color: black;
    border-style: solid;
}

.card-title{
    position:center;
}

.row{
    width:500px;
}