body {
}

footer {
    text-align: center;
    background-color: #e7e7e7;
}

.col {
    text-align: center;
}

.card:hover {
    border-color: black;
    border-style: solid;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1Index {
    text-align: center;
}
