@model ShoppingCartComponentVM

<div>
    <p>
        Antal varor: <span id="items"> @Model.NoOfItems </span> <br />
        Pris: <span id="price">@Model.TotPrice.ToString("c") </span>
     </p>
</div>