@model CheckoutVM

<div id="partial">
    <partial name="_OrderSummary" model="Model.OrderCart" />
</div>

<form asp-controller="Members" asp-action="Login">
    <input asp-for="Name" />
    <label asp-for="Name"></label>
    <span asp-validation-for="Name"></span>
    <br />

    <input asp-for="Street" />
    <label asp-for="Street"></label>
    <span asp-validation-for="Street"></span>
    <br />

    <input asp-for="Zip" />
    <label asp-for="Zip"></label>
    <span asp-validation-for="Zip"></span>
    <br />

    <input asp-for="City" />
    <label asp-for="City"></label>
    <span asp-validation-for="City"></span>
    <br />

    <input asp-for="Email" />
    <label asp-for="Email"></label>
    <span asp-validation-for="Email"></span>
    <br />
    <input type="submit" value="Fortsätt till betalning" />
</form>


@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };

        function RemoveAllFromCart(id) {
            $.ajax({
                url: "/RemoveAllFromCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };

        function RemoveSingleFromCart(id) {
            $.ajax({
                url: "/RemoveSingleFromCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };
    </script>
}
