@model CheckoutVM

<div id="partial">
    <partial name="_OrderSummary" model="Model.OrderCart" />
</div>

@{
    if (Model.Email == null)
    {<p>Du är inte inloggad. Vill du <text><strong style="color:blue"><a href="LogIn">logga in</a></strong></text>?</p>}
}



<form asp-controller="Products" asp-action="Checkout">
    <h4>Adress för leverans</h4>
    <input asp-for="FirstName" />
    <label asp-for="FirstName"></label>
    <span asp-validation-for="FirstName"></span>
    <br />

    <input asp-for="LastName" />
    <label asp-for="LastName"></label>
    <span asp-validation-for="LastName"></span>
    <br />

    <input asp-for="Street" />
    <label asp-for="Street"></label>
    <span asp-validation-for="Street"></span>
    <br />

    <input asp-for="Zip" />
    <label asp-for="Zip"></label>
    <span asp-validation-for="Zip"></span>
    <br />

    <input asp-for="City" />
    <label asp-for="City"></label>
    <span asp-validation-for="City"></span>
    <br />

    <input asp-for="Email" />
    <label asp-for="Email"></label>
    <span asp-validation-for="Email"></span>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="OrderCart" />




    <br />
    <br />
    <h4>Betalningsalternativ</h4>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Kort (Visa/Master Card/American Express)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Faktura
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            Klarna
        </label>
    </div>
    <input type="submit" value="Lägg order" />
    <br />

</form>


@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };

        function RemoveAllFromCart(id) {
            $.ajax({
                url: "/RemoveAllFromCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };

        function RemoveSingleFromCart(id) {
            $.ajax({
                url: "/RemoveSingleFromCart/" + id,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        };
    </script>
}
