@model DetailVM


<div class=".container-lg" style="
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px">
    <div class="card-img-top">
        <img src="/Images/@Model.Url" class="card-img-top" alt="Produktbild">
        <br />
        <h3>@Model.ProductName</h3>
    </div>
    <div>
        <br />
        <br />
        <p class="card-text">@Model.Description</p>
        <h6>@Model.Price.ToString("c")</h6><a href="#" onclick="AddToCart(@Model.Id)" data-bs-toggle="modal" data-bs-target="#purchaseModal" class="btn btn-secondary">Lägg i varukorg <i class="fas fa-shopping-cart"></i></a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Varukorg</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalResult"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCartShop/" + id,
                type: "GET",
                success: (result) => $("#modalResult").html(result)
            });
        };
    </script>
}