<h4>
    Du är inte inloggad.
</h4>
<p>
    Du kan antingen logga in eller fortsätta utan inloggning.
</p>
<form asp-controller="Members" asp-action="Login" method="get">
    <input type="submit" class="btn btn-secondary" value="Logga in" />
</form>
<br />
<form asp-controller="Products" asp-action="Checkout" method="get">
    <input type="submit" class="btn btn-secondary" value="Fortsätt utan inloggning" />
</form>