@{ViewBag.Title = "Shop";}

<div class="card" style="width: 18rem; border:5px">
    <img src="~/Images/chilipeppar.png" width="100px" class="card-img-top" alt="Bild på chili">
    <div class="card-body">
        <h4 class="card-title">Chili</h4>
        <p class="card-text">Chilipeppar</p>
        <a href="#" class="btn btn-primary">Köp</a>
    </div>
</div>