@model ShopVM[]
@{ViewBag.Title = "Shop";}

<div class="side-menu">
    <form id="searchForm">
        <input type="text" id="searchStr" />
        <input type="submit" value="Sök" />
    </form>
    <ul>
    <li class="nav-item dropdown" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Sortera efter
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=recommeded">Rekommenderat</a>
            <a class="dropdown-item" href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=price">Pris</a>
            <a class="dropdown-item" href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=name">Namn</a>
        </div>
    </li>
    </ul>
    <nav>
        <hr />
        <p style="padding-left: 10px;">Frösorter</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds"><i class="fas fa-seedling"></i>Bläddra alla frön</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="chili"><i class="fas fa-pepper-hot"></i>Chili</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="tomato"><i class="fas fa-leaf"></i>Tomater</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="squash"><i class="fas fa-tree"></i>Squash och Pumpa</a>
        <hr />
        <p style="padding-left: 10px;">Tillbehör</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="lamps"><i class="fas fa-lightbulb"></i>Lampor</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="accessories"><i class="fas fa-hammer"></i>Övriga tillbehör</a>
    </nav>

</div>


<div id="partial">
    <partial name="_ShopProducts" model="Model" />
</div>




@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCartShop/" + id,
                type: "GET",
                success: (result) => Component.InvokeAsync("ShoppingcartCompoonent")
            });

        };

        $("#searchForm").submit(function (e) {
            e.preventDefault();
            search = searchStr.value;
            $.ajax({
                url: "/Search/" + search,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        });
    </script>

}
