@{ViewBag.Title = "Shop";}

<div class="mx-auto" style="width: 200px;">
    <div class="card" width: 18rem; border:50px">
        <img src="~/Images/chilipeppar.png" width="80px" class="card-img-top" alt="Bild på chili">
        <div class="card-body">
            <h4 class="card-title">Chili</h4>
            <p class="card-text">Chilipeppar</p>
            <a href="#" class="btn btn-success">Köp 🛒</a>
        </div>
    </div>
</div>
