@{ViewBag.Title = "Shop";}
<div class="row">
    <div class="col-sm-6">
        <div class="card text-center">
            <img src="~/Images/chilipeppar.png" width="100%;" />
            <div class="card-body">
                <h5 class="card-title">Chili</h5>
                <p class="card-text">Het chilipeppar</p>
                <a href="#" class="btn btn-success">Lägg till i varukorg 🛒</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center">
            <img src="~/Images/chilipeppar.png" width="100%;" />
            <div class="card-body">
                <h5 class="card-title">Chili</h5>
                <p class="card-text">Het chilipeppar</p>
                <a href="#" class="btn btn-success">Lägg till i varukorg 🛒</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center">
            <img src="~/Images/chilipeppar.png" width="100%;" />
            <div class="card-body">
                <h5 class="card-title">Chili</h5>
                <p class="card-text">Het chilipeppar</p>
                <a href="#" class="btn btn-success">Lägg till i varukorg 🛒</a>
            </div>
        </div>
    </div>
</div>
