@model ShopVM[]
@{ViewBag.Title = "Shop";}

<div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right" >
        Sortera
    </button>
    <ul class="dropdown-menu">
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=recommeded">Rekommenderat</a></li>
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=price">Pris</a></li>
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=name">Namn</a></li>
    </ul>
</div>



<div class="side-menu">
    <form id="searchForm">
        <input type="text" value="Sökfält..." id="searchStr"/>
        <input type="submit" value="Sök" />
    </form>
    <nav>
        <hr />
        <p>Frösorter</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds"><i class="fas fa-seedling"></i>Bläddra alla frön</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="chili"><i class="fas fa-pepper-hot"></i>Chili</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="tomato"><i class="fas fa-leaf"></i>Tomater</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="squash"><i class="fas fa-tree"></i>Squash och Pumpa</a>
        <hr />
        <p>Tillbehör</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="accessories" asp-route-subcategory="lamps"><i class="fas fa-lightbulb"></i>Lampor</a>
        <a href="#"><i class="fas fa-hammer"></i>Övriga tillbehör</a>
    </nav>
    
</div>


<div id="partial">
    <partial name="_ShopProducts" model="Model" />
</div>
@*<div class="container">
        <div class="row row-sm-4">
            @foreach (var item in Model)
            {
                <div class="col col-sm-3 align-items-stretch">
                    <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id>
                        <div class="card card-body" style="height: 350px">
                            <img src="~/Images/@item.ThumbnailUrl" style="height: 100px" class="card-img-top" alt="@item.Name" />
                            <div class="card-body">
                                <h5 class="card-title">@item.Name </h5>
                                <p class="card-text">@item.SubCategory</p>
                                <a href="#" onclick="AddToCart(@item.Id)" class="btn btn-success">Lägg till 🛒</a>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>*@

<br />

@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCart/" + id,
                type: "GET",
                success: (result) => console.log(result)
            });
        };

        function ClearCart() {
            $.ajax({
                url: "/ClearCart/",
                type: "GET",
                success: (result) => console.log(result)
            });
        };

        function RemoveSingle(id) {
            $.ajax({
                url: "/RemoveSingleFromCart/" + id,
                type: "GET",
                success: (result) => console.log(result)
            });
        };

        $("#searchForm").submit(function (e) {
            e.preventDefault();
            search = searchStr.value;
            $.ajax({
                url: "/Search/" + search,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        });
    </script>

}
