@model ShopVM[]
@{ViewBag.Title = "Shop";}

<div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float: right" >
        Sortera
    </button>
    <ul class="dropdown-menu">
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=recommeded">Rekommenderat</a></li>
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=price">Pris</a></li>
        <li><a href="/products/shop?category=@Context.Request.Query["category"]&subcategory=@Context.Request.Query["subcategory"]&sortBy=name">Namn</a></li>
    </ul>
</div>



<div class="side-menu">
    <form id="searchForm">
        <input type="text" placeholder="Sökfält..." id="searchStr"/>
        <input type="submit" value="Sök" />
    </form>
    <nav>
        <hr />
        <p style="padding-left: 10px;">Frösorter</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds"><i class="fas fa-seedling"></i>Bläddra alla frön</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="chili"><i class="fas fa-pepper-hot"></i>Chili</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="tomato"><i class="fas fa-leaf"></i>Tomater</a>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="seeds" asp-route-subcategory="squash"><i class="fas fa-tree"></i>Squash och Pumpa</a>
        <hr />
        <p  style="padding-left: 10px;">Tillbehör</p>
        <a asp-controller="Products" asp-action="Shop" asp-route-category="accessories" asp-route-subcategory="lamps"><i class="fas fa-lightbulb"></i>Lampor</a>
        <a href="#"><i class="fas fa-hammer"></i>Övriga tillbehör</a>
    </nav>
    
</div>


<div id="partial">
    <partial name="_ShopProducts" model="Model" />
</div>


@section scripts
{
    <script type="text/javascript">
        function AddToCart(id) {
            $.ajax({
                url: "/AddToCartShop/" + id,
                type: "GET",
                success: (result) => alert(result)
            });
        };

        $("#searchForm").submit(function (e) {
            e.preventDefault();
            search = searchStr.value;
            $.ajax({
                url: "/Search/" + search,
                type: "GET",
                success: (result) => $("#partial").html(result)
            });
        });
    </script>

}
